<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Create new comment:</h1>
    <form action="/createNewComment" method="post">
        <div>
            <p><lable for='name'>Name: </lable></p>
            <p><input type="text" name="name" id='name'></p>
        </div>
        <div>
            <p><lable for='comment'>Comment: </lable></p>
            <p><input type="text" name="comment" id="comment"></p>
        </div>
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
</body>
</html>